/* --- SECÇÃO CARREIRAS --- */

.hero-carreiras {
  background-color: var(--cor-laranja-principal);
  background-image: url("../img/icon-card-2.png");
  background-repeat: no-repeat;
  background-position: right -60px bottom -40px;
  background-size: 200px;
}

/* --- INTRODUÇÃO --- */
.carreiras-intro-section {
  background-color: var(--cor-fundo-claro);
  padding: 80px var(--padding-lateral) 0 var(--padding-lateral);
}

.carreiras-intro-title {
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--cor-texto-escuro);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.carreiras-intro-desc {
  font-size: 1.15rem;
  color: var(--cor-texto-escuro);
  font-weight: 500;
  line-height: 1.6;
  max-width: 900px;
}

.carreiras-intro-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 25px 0;
  max-width: 900px;
}

.carreiras-intro-list li {
  font-size: 1.1rem;
  font-weight: 500;
  background: #ffffff;
  border-radius: 12px;
  padding: 15px 20px;
  color: var(--cor-texto-escuro);
  border: 2px solid #000;
  box-shadow: 4px 4px 0px #000;
}

/* --- CARREIRAS --- */
.carreiras-section {
  background-color: var(--cor-fundo-claro);
  padding: 80px var(--padding-lateral) 0 var(--padding-lateral);
}
.carreira-card {
  background-color: #eef2f6;
  border: 2px solid #000000;
  box-shadow: 8px 8px 0px 0px #000000;
  border-radius: 15px;
  padding: 25px;
  transition: transform 0.2s ease;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.carreira-card:hover {
  transform: translateY(-5px);
}

.carreira-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  object-fit: contain;
}

.carreira-card h3 {
  font-size: 1.6rem;
  font-weight: 900;
  color: var(--cor-azul-principal);
  margin-bottom: 10px;
  border-bottom: 2px solid #000000;
  padding-bottom: 5px;
  width: 100%;
}

.carreira-card p {
  font-size: 1.05rem;
  line-height: 1.5;
  color: var(--cor-texto-escuro);
  font-weight: 500;
  margin-bottom: 15px;
}

/* Tag de categoria */
.categoria-tag {
  margin-top: auto;
  font-size: 0.8rem;
  font-weight: 800;
  color: var(--cor-texto-claro);
  background: var(--cor-arghata);
  padding: 5px 12px;
  border: 2px solid #000;
  border-radius: 20px;
  text-transform: uppercase;
}

/* --- RESPONSIVIDADE --- */
@media (max-width: 768px) {
  .carreiras-intro-title {
    font-size: 2rem;
  }
  .carreiras-intro-list li {
    font-size: 0.95rem;
  }
}
