:root {
  /* --- PALETA DE CORES --- */
  --cor-azul-principal: #2385c4;
  --cor-laranja-principal: #f48c06;
  --cor-vermelho-botao: #ff473a;
  --cor-cyan-logo: #00bcd4;

  --cor-fundo-claro: #ffffff;
  --cor-texto-escuro: #1a1a1a;
  --cor-texto-claro: #ffffff;
  --cor-arghata: #8a2be2;
  --cor-hover-arghata: #7d2be2;
  /* --- RÉGUA DE ALINHAMENTO --- */
  --padding-lateral: 5%;
  --largura-maxima: 1400px;

  /* Fonte Poppins (Mais gordinha/moderna) */
  /* to do: trocar por poppins */
  --font-main: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-main);
  list-style: none;
  text-decoration: none;
}

body {
  background-color: var(--cor-fundo-claro);
  color: var(--cor-texto-escuro);
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

/* --- CLASSE DE CONTAINER --- */
.container {
  width: 100%;
  max-width: var(--largura-maxima);
  margin: 0 auto;
}

/* Fixa o cabeçalho */
.fix-header {
  position: fixed !important;
}

#topBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: var(--cor-arghata);
  color: var(--cor-texto-claro);
  cursor: pointer;
  padding: 10px;
  border-radius: 50px;
  transition: all 0.2s ease-in-out;
}

#topBtn:hover {
  background-color: var(--cor-hover-arghata);
  transition: all 0.2s ease-in-out;
}
